Subject:
Car about to be towed

Body:
There is a car like this outside about to be towed.

Hopefully you can recognize it and notify the owner.

Here is a picture I found that looks like it:
{{! image}}
