Subject:
URGENT: Change Password Immediately

Body:
{{fname}},

Your password has been hacked and your account is being used to spread
malicious software.

Please change your password immediately!

In order to maintain operational security, if you are contacted by a member
of the press do not comment of the situation.  

Visit the following link to change your password: {{! site}}
