Subject:
Order Confirmation

Body:
Hello {{fname}},

Attached you will find your receipt for the order that you placed. Please be
aware that it may take 2-3 business days for items to be shipped.

It has been a pleasure to have your business.

Thank you,

Jim Woznaky
