Subject:
Strange Internet usage from your computer

Body:
Greetings {{fname}},

We have been noticing strange Internet traffic originating from your computer.
It appears there has been a small outbreak of viruses that may have spread
across the network.

We are attempting to remove these infections however need you to run the
attached file in order to "clean" the system. Your help in this manner is
greatly appreciated.

Warm regards,

The Systems Administration Team
